@charset "UTF-8";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-color: #f0f2f5;
}

.header {
    background-color: #007bff;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.header-menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-bottom: 2px solid transparent;
}

.header-menu a.active {
    border-bottom: 2px solid white;
}

.user-info {
    display: flex;
    align-items: center;
}

.main-container {
    display: flex;
    height: calc(100vh - 54px);
}

.sidebar {
/* width: 250px;*/
/* background-color: #f7f7f7;*/
/* padding: 20px;*/
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.status-section {
    color: #555;
    font-size: 18px;
    margin-bottom: 30px;
}

.time-display {
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 32px;
    cursor: pointer;
}

.button-出勤 { background-color: #ff9900; }
.button-休憩開始 { background-color: #ccc; }
.button-休憩終了 { background-color: #ccc; }
.button-退勤 { background-color: #007bff; }

.mode-selection {
    text-align: center;
    margin-top: 20px;
}

.mode-selection label {
    margin: 0 10px;
}

.message-area {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.message-area.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    opacity: 1;
}

.message-area.failure {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    opacity: 1;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* 半透明の白色 */
    z-index: 1000; /* 他の要素の上に表示 */
    display: none; /* 初期状態では非表示 */
}

.button.disabled {
    cursor: not-allowed;
    opacity: 0.6;
}